# Lab 00

Student name: Le Thi Thu Tra

Student ID: ITDSIU19058

## Problem 1: 

Write a program to find all numbers that are divisible by 7 but not multiples of 5, within the range 2000 and 3200 (including 2000 and 3200). The result should be printed as astring on one line, separated by commas.

In [ ]:
def findAllNumbers():
  for num in range(2000, 3200):
    if num % 7 == 0 and num % 5 != 0:
      print(num, end = ', ')

In [ ]:
result = findAllNumbers()
print(result)

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199, None

## Problem 2: 
Given a given integer n, write a program to create a dictionary containing (i, i*i) as integers from 1 to n (including 1 and n) and then print this dictionary. Example: Assuming number n is 8, the output will be: {1:1, 2:4, 3:9, 4:16, 5:25, 6:36, 7:49, 8:64}.

In [ ]:
d = dict()
n = int(input("Input an integer number: "))

def createDic(n):
  for i in range(1,n+1):
    d[i] = i*i
  print(d)

Input an integer number: 8

In [ ]:
result = createDic(n)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Problem 3: 
Define a class with at least 2 methods:

● getString: to get a user inputted string from the console.

● printString: print the string entered to upper case.

Write a simple function/program to test your class.
Example: The input string is “hcmiu.edu.vn”, the output must be “HCMIU.EDU.VN”

In [ ]:
class Problem3():

  def __init__(self):
        self.user_input = ""

  def getString(self):
    self.user_input = input('Input: ')
  
  def printString(self):
    print("Output:", self.user_input.upper())

user_input = Problem3()
user_input.getString()
user_input.printString()

Input: hcmiu.edu.vn
Output: HCMIU.EDU.VN

#Problem 4: 

Write a program that accepts a string of words entered by the user, separated by commas. Then print the words in alphabetical order, separated by commas. Assuming input is: without,hello,bag,world, the output will be: bag,hello,without,world.

In [ ]:
def Problem4():
  user_input = input('Input: ')
  # split words and save them to a list
  words_list = [word.lower() for word in user_input.split(',')]
  words_list.sort()
  print("Output: ")
  for word in words_list:
    print(word, sep = '.', end = ',')
test = Problem4()

Input: without,hello,bag,world
Output:
bag,hello,without,world,

# Problem 5: 

Define a class named Shape and the following subclasses: Square, Circle. Square
and Circle have an init function that takes a length argument. Both classes have an area function
to print the area of the shape (the default area of Shape is 0).

In [ ]:
class Shape(object):
  def __init__(self):
    self.length = ""

  def area(self):
    return 0

class Square(Shape):
  def __init__(self,l):
     Shape.__init__(self)
     self.length = l
  
  def area(self):
    #return self.length*self.length
    aSquare = self.length*self.length
    print("Square Area: ", aSquare)
      
class Circle(Shape):
  def __init__(self, l):
     Shape.__init__(self)
     self.length = l
  
  def area(self):
    #return float(self.length**2*3.14)
    aCircle = float(self.length**2*3.14)
    print("Circle Area: ", aCircle)

Square(5).area()
Circle(5).area()

#print(Square(5).area())
#print(Circle(5).area())

Square Area:  25
Circle Area:  78.5